/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}
* {
    box-sizing: border-box;
  }
  
 body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
 a {
    text-decoration: none;
  }
 .clear {
    clear: Left;
  }
  
ul  li {
  list-style-type: none;
}

/*mulai code disini */
.container{
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.fa{
  margin-right: 5px;
}
@font-face{
  font-family: 'cabin';
  src: url(font/cabin/CabinCondensed-Bold.ttf);
}
@font-face{
  font-family: 'cabin2';
  src: url(font/cabin/CabinCondensed-Regular.ttf);
}
nav a{
  float: left;
  display: inline;
  
  padding: 0 20px;
  text-decoration: none;
  line-height: 80px;
  color: #4a4a4a;
}
nav {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  width: 100%;
  height: 80px;
  background-color:rgba(255, 255, 255, 1);    
}


nav .logo{

  float: left;
  display:inline-block;
  margin-right: 20px;
 line-height: 80px;
 font-size: 40px;
  font-family: cabin;
}
header{
  background-image: url(aset/background.jpg);
  background-size: cover;
  height: 680px;
  width: 100%;
}
nav a:hover{
  background-color: #b3b3b3;
  padding: 0 20px;
  color: white;
}
.menu-icon {
  color:white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* Gantikan property display ke none */
  display:none;
}
.logo-kanan{
  line-height: ;
  float: right;
  padding-top: 15px ;
  padding-right: 30px;

}.logo-kanan h3{
  opacity: 0.5;
}
.top-paragrap{
  color: white;
  float: right;
  padding-top: 20%;
  max-width: 100%;
}
header h1{
  font-size: 100px;
}
header h2{
  font-size: 50px;
}
.ORDER{
  background-color: rgba(0, 255, 0, 0.5);
  padding: 10px;
  margin-top:10px;
  border-radius: 10px;
  display: inline-block;
  font-family: cabin2;
  text-decoration: none;
  color:white;
  box-shadow:0px 7px #1a7940;
  
 
}
.ORDER:active{
  position:relative;
  top:7px;
  box-shadow:none;

}
header p{
  margin-top: 10px;
}
/*===Edited====*/
main {
  width: 100%;
  height: 1170px;
}

.info {
  background-image: url('./aset/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: inherit;
  margin: 0 auto;
  border-radius: 20px;
}
.main-sandwich {
  border: solid 1px red;
  border-radius: 10px;
  position: relative;
  width: 50%;
  top: 90px;
  left: 200px;
  
}
.sandwich {
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}
.info-toko {
  text-align: center;
  font-size: 23px;
  color: red;
}
.menus{
  max-width: 100%;
}
.menu-container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
.menu-wrapper {
    background-image: url("./aset/background-menu3.jpg");
    background-size: cover;
    padding-bottom: 60px;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}
.menu-heading {
    padding-top: 60px;
    padding-bottom: 50px;
    color: #fff;
}
  
.menu-heading h1{
    font-size: 35px;
    font-weight: bold;
}
.menu-heading h2 {
    font-size: 15px;
    font-weight: normal;
}
  
  .menu {
    float: left;
    width: 25%;
    margin-bottom: 40px;
  }
  
.menu img{
    height: 180px;
    width: 240px;
    border: 10px solid white;
    transition: all 500ms;
  }
.menu img:hover{
    height: 180px;
    width: 240px;
    border: 0 solid white;
    transition: all 500ms;
    cursor: pointer;
  }
.menu-pic {
    position: relative;
    
  }
  
.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 30px;
    color: #b3aeb5;
    font-weight: bold;
    
  }
  
.menu-heading h3 {
    font-weight: normal;
  }

.box-contain{
  width: 33%;
  float: left;
  margin-bottom: 60px;

}
  .profile-box {
    width: 100%;
    min-width: 230px;
    max-width: 315px;
    margin: 0 auto;
    
    background-color: rgb(226, 218, 218);
    border: 5px solid white;
  }
  
  
  
  .profile-box .profile-image {
    display: inline-block;
    width: 80%;
    z-index: 1;
    position: relative;
    padding: 10px;
    border: 2px solid #474747;
  }
  
  .profile-box .profile-image img {
    max-width: 100%;
    vertical-align: top;
    height: 140px;
  }

  .profile-box figcaption {
    width: 100%;
    background-color: #444444;
    color:white;
    padding: 125px 25px 25px;
    margin-top: -100px;
    display: inline-block;
    opacity: 0.8;
  }
  
  .profile-box h3,
  .profile-box h4,
  .profile-box p {
    margin: 0 0 5px;
  }
  
  .profile-box h3 {
    font-weight: 600;
    font-size: 1.3em;
  }
  
  .profile-box h4 {
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
  }
  
  .profile-box p {
    font-size: 0.9em;
    letter-spacing: 1px;
    opacity: 0.9;
  }
  
  .icons {
    text-align: center;
    width: 100%;
  }
  
  .profile-box i {
    padding: 10px 2px;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    color: white;
    opacity: 0.75;
  }
  
  .profile-box i:hover {
    opacity: 1;
    transition: all 0.35s ease;
  }
  .profile-box-dum{
    display: none;
  }
  .koki-wrapper {
    background-image: url("./aset/back-gelap.jpg");
    background-size: cover;
    padding-bottom: 60px;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
  }


  .nama-lokasi {
    text-align: center;
    color: #fff;
    font-size: 35px;
    border-top: 2px solid white;
  }
  .lokasi {
    display: flex;
     flex-direction: row;
     justify-content: center;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    
  }
  .lokasi-1 {
    /* display: inline-block; */
    border-radius: 50px;
    width: 100%;
    height: 100%;

  }
  .lokasi-1 p,.lokasi-1 h3, .lokasi-1 h4{
    color: #b1b1b1;
  }
  .p-lok {
    padding: 10px;
  }
 .tempat{
   border-radius: 50px;
   margin-top: 50px;
    width : 200px;
    height: 200px;
  }
  /* ======= Fotter ============ */
.footer-logo {
    float: left;
    font-size: 32px;
}
.kontak-list {
    float: right;   
}

  footer li {
    padding-bottom: 20px;
    display: inline-block;
    padding: 5px;
  }
  footer,
  li:hover {
    color:rgb(255, 0, 0);
    transition: 500ms;
  }
  footer {
    background-color: #165240;
    color: #fff;
    height: 120px;
    padding: 40px;
    width: 100%;
  }






